
<div class="jumbotron">
        <h1>Cat&Dog El Salvador</h1>
        <p>
          "Fundaci&oacute;n Hogar de Perros y Gatos Desamparados"
          <br />
          Conocida como Fundaci&oacute;n Cat&Dog El Salvador.
        </p>
        <a class="btn btn-large btn-success" href="#">M&aacute;s informaci&oacute;n >></a>
      </div>

      <div class="row">
        <div class="col-md-5" style="margin:4%;">
          <h3>Historial Medico</h3>
          <hr/>
          <p>
            <button onclick="location.href='/catdog/fichaPaciente/nuevoPeludo'" class="btn btn-default">
              Nuevo paciente
            </button>
            <button onclick="location.href='/catdog/fichaPaciente/listadoPeludo'" class="btn btn-default">
              Listado de pacientes
            </button>
            <button onclick="location.href='/catdog/medicinas/nuevaMedicina'" class="btn btn-default">
              Medicinas
            </button>
            <button onclick="location.href='/catdog/medicinasPaciente/agregar'" class="btn btn-default">
              Asginar medicamentos
            </button>
          </p>
        </div>
        <div class="col-md-5" style="margin:4%;">
          <h3>Insumos</h3>
          <button onclick="location.href='/catdog/tipoInsumos/panel'" class="btn btn-default">
              Tipo insumo
          </button>
          <button onclick="location.href='/catdog/insumos/panel'" class="btn btn-default">
              Insumo
          </button>
          <button onclick="location.href='/catdog/tipoDonacion/panel'" class="btn btn-default">
              Tipo donacion
          </button>
          <button onclick="location.href='/catdog/donaciones/panel'" class="btn btn-default">
              Donaciones
          </button>
        </div>
      </div>
