<!DOCTYPE html>
<html>
  <head>
    <title>Inventario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap/dist/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="static/bootstrap/examples/grid/grid.css" rel="stylesheet" media="screen">
  </head>
  <body>
<div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-inverse">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CatDog Sv</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Inventario</a></li>
            <li><a href="#">Donadores</a></li>
            <li><a href="#">Refugio</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Opciones<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Historial</a></li>
                <li><a href="#">Configuraci&oacute;n</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">administraci&oacute;n</li>
                <li><a href="#">Cuenta</a></li>
                <li><a href="#">Desconectar del sistema</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <h2>Inventario</h2>

      <ul class="pagination">
  <li><a href="#">&laquo;</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>


      <table class="table">
        <thead>
          <tr>
            <th>Id articulo</th>
            <th>Nombre</th>
            <th>Descripci&oacute;n</th>
            <th>Unidades</th> 
            <th>Acciones</th>
          </tr>
        </thead>
        <tr>
          <td>
            1
          </td>
          <td>
            Comida para Perro
          </td>
          <td>
            Bolsa 10 lb
          </td>
          <td>
            10
          </td>
          <td>
            <a href="">
              <i class="glyphicon glyphicon-file"></i> Nuevo
            </a> 
             | 
            <a href="">
              <i class="glyphicon glyphicon-remove"></i> Eliminar
            </a> 
             | 
            <a href="">
              <i class="glyphicon glyphicon-edit"></i> Editar
            </a>
          </td>
        </tr>
        <tr>
          <td>
            2
          </td>
          <td>
            Comida para gato
          </td>
          <td>
            Bolsa de 5 lb
          </td>
          <td>
            5
          </td>
          <td>
            <a href="">
              <i class="glyphicon glyphicon-file"></i> Nuevo
            </a> 
             | 
            <a href="">
              <i class="glyphicon glyphicon-remove"></i> Eliminar
            </a> 
             | 
            <a href="">
              <i class="glyphicon glyphicon-edit"></i> Editar
            </a>
          </td>
        </tr>
        <tr>
          <td>
            3
          </td>
          <td>
            Comida para gato
          </td>
          <td>
            Bolsa de 15 lb
          </td>
          <td>16</td>
          <td>
            <a href="">
              <i class="glyphicon glyphicon-file"></i> Nuevo
            </a> 
             | 
            <a href="">
              <i class="glyphicon glyphicon-remove"></i> Eliminar
            </a> 
             | 
            <a href="">
              <i class="glyphicon glyphicon-edit"></i> Editar
            </a>
          </td>
        </tr>
        <tr>
          <td>
            4
          </td>
          <td>
            Shampoo para perro
          </td>
          <td>
            Shapoo medicinal para eliminar pulgas
          </td>
          <td>
            7
          </td>
          <td>
            <a href="">
              <i class="glyphicon glyphicon-file"></i> Nuevo
            </a> 
             | 
            <a href="">
              <i class="glyphicon glyphicon-remove"></i> Eliminar
            </a> 
             | 
            <a href="">
              <i class="glyphicon glyphicon-edit"></i> Editar
            </a>
          </td>
        </tr>

      </table>

    </div> <!-- /container -->
     <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>